/* ---------- Affiche le footer et header ou pas sur certaines page ---------- */

.page-connexion header,
.page-connexion footer,
.page-inscription header,
.page-inscription footer,
.page-accueil footer {
    display: none;
}


/* ---------- L'ensemble des pages du site ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    margin : 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E1BAA2;
  }


.separation{
  border: 2px solid #323232;
  width: 100%;
}

p {
  color : #323232;
  font-size: 24px;
  font-weight: bold;
}

/* ---------- Le Header ---------- */

header{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #E1BAA2;
}

.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
}

.container ul {
  position: relative;
  left: 40%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.container li {
  padding: 5px 10px;
  color : #323232;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.container li a {
  text-decoration: none;
  color: inherit;
}

.container .logo {
  position: relative;
  height : 274px;
  margin-top : -20%;
  margin-bottom : -30%;
}

/* ---------- Le Footer ---------- */

footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  text-align: center;
}

footer p{
  font-size: 24px;
  color: black;
  margin: 1em;
}

/* ---------- La page de connexion ---------- */

.pageConnexion {
  display: flex;
  height: 100%;
  width: 100%;
}

.connexion, .presentation {
  height: 100%;
  width: 50%;
}

.connexion {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation {
  object-fit: cover;
}

.presentation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoConnexion {
  position: absolute;
  top: -2%; 
  left: 50%;
  transform: translateX(-50%); 
  width: 280px; 
  max-width: 80%; 
}

.formConnexion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.labelConnection, .bottomConnex {
  font-size: 24px;
  color:#323232;
  font-weight: 900;
  margin: 10% 0 5% 0;
}

.bottomConnex{
  outline: none;
  border: none;
  background-color: #E1BAA2;
}

.bottomConnex a {
  text-decoration: none;
  color: inherit;
}

.buttonConnexion {
  display: flex;
  flex-direction: row;
  gap: 8em;
  text-decoration: none;

}

.mail, .passwd {
  font-size: 20px;
  margin-left: 20px;
}

.mail {
  margin-left: 5em;
}

/* ---------- La page d'Inscription ---------- */

.inscription {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 100%;
}

.formInscrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
  gap: 1em;
}

.logoInscription {
  position: relative;
  top: -23%; 
  left: 50%;
  transform: translateX(-50%); 
  width: 300px; 
  max-width: 80%; 
}

.labelInscription{
  padding: 5px 10px;
  color : #323232;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.buttonInscription{
  color : #D9D9D9;
  font-size: 32px;
  font-weight: 900;
  background-color: #323232;
  border: none;
  border-radius: 30px;
  width: 250px;
}

.inscrNom, .inscrPrenom, .inscrAdr, .inscrAdrP, .inscrMail, .inscrPass {
  font-size: 20px;
  margin-left: 5em;
  border-radius: 30px;
}

.inscrNom {
  margin-left: 12.5em;
}

.inscrPrenom{
  margin-left: 10em;
}

.inscrAdr{
  margin-left: 10.5em;
}

.inscrMail{
  margin-left: 11.4em;
}

.inscrPass{
  margin-left: 6.8em;
}

/* ---------- La page d'Accueil ---------- */
.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide:first-child {
  opacity: 1;
}

/* ---------- La page de la listes d'Annonces ---------- */


.annonce-list {
  list-style: none;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  justify-items: center;
}

.annonce-item {
  width: 100%;
  max-width: 500px;
}

.annonce-container {
  display: flex;
  align-items: stretch; 
  border: 1px solid #323232;
  border-radius: 10px;
  overflow: hidden;
  background: #323232;
  height: auto; 
}

.image-container {
  position: relative;
  width: 302px; 
  height: 202px; 
  flex-shrink: 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.details-container {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.annonce-prix{
  font-size: 20px;
  color: #D9D9D9;
}

.annonce-adresse {
  font-size: 14px;
  color: #D9D9D9;
}

.annonce-button{
  margin-top: 1em;
  border-radius: 15px;
  background-color: #D9D9D9;
}

.annonce-button a {
  text-decoration: none;
  color: #323232;
  font-weight: 900;
}

/* ---------- La page d'une Annonce ---------- */

.bienImmo {
  display: flex;
  align-items: stretch; /* Permet d'aligner le carrousel avec le texte */
  width: 100%;
  gap: 20px;
  padding: 2em;
}

.text-container {
  flex: 1;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 2em;
}

.nom-image-container {
  display: flex;
  align-items: center;
  gap: 3em;
}

.nom-image-container img {
  max-width: 120px;
  height: auto;
  border-radius: 5px;
}


/* Le carrousel doit s'agrandir dynamiquement selon le texte */
.carousel {
  flex: 1;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.carousel .slide {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgCarrousel {
  width: 100%;
  height: auto;
  max-height: 100%; /* L'image ne dépasse pas la hauteur du texte */
  object-fit: cover;
}

.contact {
  margin-top: 1.5em;
  text-decoration: none;
  background-color: #323232;
  color: #D9D9D9;
  font-size: 32px;
  font-weight: 900;
  border-radius: 20px;
  padding-right: 1em;
  padding-left: 1em;
}

pre {
  margin-top: 500px;
}

/* ---------- La page d'Utilisateur ---------- */

.profile-container {
  position: absolute;
  top: 10em;
  right: 20px;
}

.deconnexion {
  background-color: red;
  color: #323232;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.deconnexion a {
  color: #323232;
  text-decoration: none;
}

.descriptionProfil {
  position: relative;
  top: 2em;
  margin-bottom: 2em;
}

.descriptionProfil p{
  margin-bottom: 1.5em;
  margin-left: 1em;
  font-size: 26px;
  font-weight: 900;
}

.descriptionProfil .favoris{
  font-size: 32px;
  margin-top: 2em;
}